@model List<MBDB_datalib.Film>

@{
    ViewBag.Title = "MBDB - movie database";
}

<div class="jumbotron">
    <h1>MBDB - movie database</h1>
    <p class="lead">
        MBDB app lets you browse for the most popular movies, add them to your personal watchilst, leave and read comments and more...
    </p>
    <p>
        Curious about movie budget, ratings or number of Oscar nominations?
    </p>
    <p>
        <a href="/films" class="btn btn-primary btn-lg">See full list &raquo;</a>
    </p>
</div>

<div class="row fl-align-start" style="flex-wrap:wrap;">
    <div class="col-md-4 text-center flex-column justify-content-bw">
        <h2 class="movieTitle" data-filmName="@Model[0].FilmName">@Model[0].FilmName (@Model[0].FilmReleaseDate.Value.Year)</h2>
        <div class="posterContainer"  style="margin-bottom : 10px">
            
        </div>
        <p>
            @Model[0].FilmSynopsis
        </p>
        <p>
            <strong>Oscar wins: </strong>@Model[0].FilmOscarWins
        </p>
        <p><a class="btn btn-default" href="/films/details/@Model[0].FilmID">See more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center flex-column justify-content-bw">
        <h2 class="movieTitle" data-filmName="@Model[1].FilmName">@Model[1].FilmName (@Model[1].FilmReleaseDate.Value.Year)</h2>
        <div class="posterContainer" style="margin-bottom : 10px">
            
        </div>
        <p>
            @Model[1].FilmSynopsis
        </p>
        <p>
            <strong>Oscar wins: </strong>@Model[1].FilmOscarWins
        </p>
        <p><a class="btn btn-default" href="/films/details/@Model[1].FilmID">See more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center flex-column justify-content-bw">
        <h2 class="movieTitle" data-filmName="@Model[2].FilmName">@Model[2].FilmName (@Model[2].FilmReleaseDate.Value.Year)</h2>
        <div class="posterContainer" style="margin-bottom : 10px">
           
        </div>
        <p>
            @Model[2].FilmSynopsis
        </p>
        <p>
            <strong>Oscar wins: </strong>@Model[2].FilmOscarWins
        </p>
        <p><a class="btn btn-default" href="/films/details/@Model[2].FilmID">See more &raquo;</a></p>
    </div>
</div>

@section scripts
{   
    <script>
        $(document).ready(function () {
            const omdbapi = "https://www.omdbapi.com/?apikey=e0fb59d&t=";

            let headerElements = $('h2.movieTitle');

            headerElements.each((idx, elem) => {
                const movieName = $(elem).data("filmname");
                const posterContainer = $($(elem).siblings('.posterContainer')[0])

                $.ajax({
                    url: omdbapi + movieName
                }).done(data => {
                    const posterUrl = data.Poster;

                    posterContainer.prepend("<img alt='Poster' src = " + posterUrl + " /style='max-height : 350px'>");
                })
            })


        });

    </script>
}