@model List<Film>

@{
    ViewBag.Title = "MBDB - movie database";
}

<div class="jumbotron">
    <h1>MBDB - movie database</h1>
    <p class="lead">
        MBDB app lets you browse for the most popular movies, add them to your personal watchilst, leave and read comments and more...
    </p>
    <p>
        Curious about movie budget, ratings or number of Oscar nominations?
    </p>
    <p>
        <a href="/films" class="btn btn-primary btn-lg">See full list &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2 >@Model[0].FilmName (@Model[0].FilmReleaseDate.Value.Year)</h2>
        <div  style="margin-bottom : 10px">
            <img style="max-height : 350px" src="~/Content/Images/departed2006.jpg" alt="The Departed 2006" />
        </div>
        <p>
            @Model[0].FilmSynopsis
        </p>
        <p>
            <strong>Oscar wins: </strong>@Model[0].FilmOscarWins
        </p>
        <p><a class="btn btn-default" href="/films/details/@Model[0].FilmID">See more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>@Model[1].FilmName (@Model[1].FilmReleaseDate.Value.Year)</h2>
        <div style="margin-bottom : 10px">
            <img style="max-height : 350px" src="~/Content/Images/schindler1994.jpg" alt="Schindler's List 1994" />
        </div>
        <p>
            @Model[1].FilmSynopsis
        </p>
        <p>
            <strong>Oscar wins: </strong>@Model[1].FilmOscarWins
        </p>
        <p><a class="btn btn-default" href="/films/details/@Model[1].FilmID">See more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>@Model[2].FilmName (@Model[2].FilmReleaseDate.Value.Year)</h2>
        <div style="margin-bottom : 10px">
            <img style="max-height : 350px" src="~/Content/Images/gandhi1982.jpg" alt="Gandhi 1982" />
        </div>
        <p>
            @Model[2].FilmSynopsis
        </p>
        <p>
            <strong>Oscar wins: </strong>@Model[2].FilmOscarWins
        </p>
        <p><a class="btn btn-default" href="/films/details/@Model[2].FilmID">See more &raquo;</a></p>
    </div>
</div>